/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: fantasy --default, dracula --prefersdark, fantasy, dracula;
}

router-outlet + * {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent white */
}